{
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "extends": "airbnb-base",
  "rules": {
    "function-paren-newline": ["error", "consistent"],
    "object-curly-newline": ["error", { "consistent": true }]
  }
}
